.cabecalho { 
    background-color: var(--cor-principal);
    padding: 2rem 2rem;
    height: auto;
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.cabecalho p{
    flex-grow: 1;

}

.cabecalho img {
    min-height: 30%;
    min-width: 30%;
    max-width: 50%;
    max-height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto
}
.cabecalho button{
    min-width: 30%;
    max-width: 100%;

}
.botao-principal{
    background-color: white;
    color:var(--cor-principal);
    font-family: var(--font-principal);
    font-weight: 100;
    font-size: 1.2rem;
    padding: 0.5rem;
    border:none;
}
.botao-principal:hover{
    color:var(--cor-principal);
    transition: color 0.5s;
    background-color: white;
    transition: background-color 0.5s;
}
.menu{
    background-color: var(--cor-destaque);
    padding-left: 1.5rem;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
}
.menu a:link {
    color:white;
    text-decoration: none;

}
.menu a:hover {
    color:var(--cor-secundaria);
    transition: color 0.5s;
}

.menu a:visited {
    color:white;
    text-decoration: none;

}
.apresentaçao {
    background-color: white;
}
.conteudo-linha {
    padding-top: 1.5rem;
    padding-left: 1.5rem; 
    padding-right: 1.5rem; 
    padding-bottom: 1.5rem;
}
.caixa-destaque {
    line-height: 1.8rem;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    background-color: var(--cor-destaque-light);
    padding: 1rem;
    border-radius: 1rem;
    text-align: justify;
    color: white;
}
.img-destaque img{
    border-radius: 1rem;
}
.borda-arredondada {
    border-radius: 1rem;
}
.titulos{
    background-color: var(--cor-destaque);
    text-align: center;
    color: white;
    padding-left: 0.5rem;
    padding-top: 1.0rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    font-family: var(--font-secundaria);

}
.grade-de-fotos{
    background-color: white;
    flex-wrap: wrap;
    padding-left: 1.0rem;
    padding-top: 1.0rem;
    padding-right: 1.0rem;
    padding-bottom: 1.0rem;

}

.form-item {
    margin: 0.5rem;
    background-color: var(--cor-destaque) !important;
    
}

.form-item::placeholder {
    color: white !important;
}

#submit-button{
    background-color: var(--cor-destaque-light);
    color: white;
    font-family: var(--font-principal);
    font-weight: 100;
    font-size: 1.0rem;
    padding: 0.5rem;
    border: 0.3rem;
    border-radius: 0.3rem;
    margin-left: 0.5rem;

}
.contact-form{
    border:0.2rem;
    border-style: solid;
    border-color: var(--cor-principal);
    padding: 1.0rem 1.0rem 1.0rem 0rem;
}
.img-portfolio {
    margin: 0.5rem;
    transition: margin-top 0.5s ease-in ;
}

.img-portfolio:hover {
    margin-top: 0rem;
}
.conteudo{
    background-color: white;
    padding: 4rem 1rem;
}

.conteudo #botao-depoimentos{
    margin-left: auto;
    margin-right: auto;
}
.botoes-acao{
    display: flex;
    justify-content: center;
    align-items: center;
}
.botao-p{
    background-color: var(--cor-destaque);
    color:white;
    font-family: var(--font-principal);
    font-weight: 100;
    font-size: 1.2rem;
    padding: 0.5rem;
    border:none;
    justify-content: center;
    margin: 0.5rem;
}
.botao-p:hover{
    color:var(--cor-principal);
    transition: color 0.5s;
    background-color: var(--cor-destaque-light);
    transition: background-color 0.5s;
}
#botao-depoimentos{
    background-color: var(--cor-secundaria);
    display: flex;
    justify-content: center;
    width: 30%;
    padding: 0.4rem;

}

details {
    max-width: 25%;
    display: flex;
    justify-content: center;
}

details img {
    border-radius: 50%;
}

details p {
    padding: 0.5rem;
    background-color: var(--cor-destaque-light);
    border-radius: 1rem;
}

.corpo {
    padding: 200px 20px;
}

.rodape {
    background-color: var(--cor-secundaria);
    padding: 50px 20px;
    height: 150px;
    color: var(--cor-principal);
    font-family: var(--font-secundaria);
    font-size: 2rem;
}
body {
    margin: 0%;
    --font-principal:'Roboto', sans-serif;
    --font-secundaria:'Ruluko', sans-serif;
    --cor-principal:#2B3F58;
    --cor-secundaria:#D86363;
    --cor-destaque:#55728D;
    --cor-destaque-light:#85A8C9;
    font-family: var(--font-principal);
    font-size: 62.5%;
}
a:visited {
    text-decoration: none;
}

@media (max-width:768px){
    .menu{
        display:flex;
        justify-content: center;
    }
    .botao-principal{
        font-size: 1rem;
    }
    .caixa-destaque{
        margin-bottom: 1rem;
    }
}