.cabecalho { 
    background-color: var(--cor-principal);
    padding: 50px 20px;
    height: 150px;
    color: white;
    align-items: center;
    justify-content: center;
}
.botao-principal{

}
.menu{
}
.apresentaçao{

}
.secao-conteudo{

}
.corpo {
    padding: 200px 20px;
}
.rodape {
    background-color: var(--cor-secundaria);
    padding: 50px 20px;
    height: 150px;
    color: var(--cor-principal);
    font-family: var(--font-secundaria);
    font-size: 20px;
}
body {
    margin: 0%;
    font-family: var(--font-principal);
    --font-principal:'Roboto', sans-serif;
    --font-secundaria:'Ruluko', sans-serif;
    --cor-principal:#2B3F58;
    --cor-secundaria:#F47E64;
    --cor-destaque:#55728D;
}