.cabecalho { 
    background-color: #2B3F58;
    padding: 50px 20px;
    height: 150px;
    color: white;
    align-items: center;
    justify-content: center;
}
.botao-principal{
    
}
.menu{
}
.apresentaçao{

}
.secao-conteudo{

}
.corpo {
    padding: 200px 20px;
}
.rodape {
    background-color: #F47E64;
    padding: 50px 20px;
    height: 150px;
    color: #2B3F58;
    font-family: 'Ruluko', sans-serif;
    font-size: 20px;
}
body {
    margin: 0%;
    font-family: 'Roboto', sans-serif;
}