.cabecalho { 
    background-color: var(--cor-principal);
    padding: 5rem 2rem;
    height: auto;
    color: white;
    display:flex;
    justify-content: space-evenly;
    align-items: baseline;
    flex-wrap: wrap;
}
.cabecalho p{
    flex-grow: 3;

}

.cabecalho img {
    min-height: 50%;
    min-width: 50%;
    max-width: 100%;
    max-height: 100%;
}
.cabecalho button{
    min-width: 30%;
    max-width: 100%;

}
.botao-principal{
    background-color: var(--cor-destaque);
    color:white;
    font-family: var(--font-principal);
    font-weight: 100;
    font-size: 1.6rem;
    padding: 0.5rem;
    border:none;
}
.botao-principal:hover{
    color:var(--cor-principal);
    transition: color 0.5s;
    background-color: white;
    transition: background-color 0.5s;
}
.menu{
    background-color: var(--cor-destaque);
    padding: 0.5rem;
}
.menu a:link {
    color:white;
    text-decoration: none;
}
.menu a:hover {
    color:var(--cor-secundaria);
    transition: color 0.5s;
}
.apresentaçao{

}
.secao-conteudo{

}
.corpo {
    padding: 200px 20px;
}
.rodape {
    background-color: var(--cor-secundaria);
    padding: 50px 20px;
    height: 150px;
    color: var(--cor-principal);
    font-family: var(--font-secundaria);
    font-size: 2rem;
}
body {
    margin: 0%;
    --font-principal:'Roboto', sans-serif;
    --font-secundaria:'Ruluko', sans-serif;
    --cor-principal:#2B3F58;
    --cor-secundaria:#F47E64;
    --cor-destaque:#55728D;
    font-family: var(--font-principal);
    font-size: 62.5%;
}